<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AwesomeProject.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7BC9CC068338FEAEBB867BE05F05D7BD3920B346</string>
				<key>dateExpires</key>
				<string>26/01/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7BC9CC068338FEAEBB867BE05F05D7BD3920B346</string>
						<key>dateExpires</key>
						<string>26/01/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y38V2J6PKF</string>
						<key>name</key>
						<string>Vaishnav vaishnav</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y38V2J6PKF.com.amalreacttes.flower</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y38V2J6PKF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AwesomeProject.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3117cad6-0fed-4bbd-b579-d4554bc456ce</string>
				<key>dateExpires</key>
				<string>26/01/2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.amalreacttes.flower</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y38V2J6PKF</string>
				<key>name</key>
				<string>Vaishnav vaishnav</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
